build-shortcut/
build-romhack/
backup/

local.mk

*.o
*.i
*.elf
*.map
*.xdat
*.blend1
*.reapeaks
*.rpp-bak

__pycache__/

toolchain/yaz0/yaz0_encode
music/02-*.wav
music/02-*.wav.reapeaks

.python-version

actor/*/*.zovl
scene/*/*.zmap
scene/*/*.zscene
run/bootstrap*.txt
run/bootstrap*.m64
textures/*.inc

voice/*.book.bin
voice/*.loopbook.bin
voice/*.vadpcm.bin
voice/vo_*.c
voice/chimes.c
